{% extends 'panel.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container pt-4">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{name}} {{surname}}</h4>
                        <small><cite title="{{address}}">{{address}} <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{email}}
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i>{{phone}}
                            <br />
                            {% if (rang=="teacher") %}
                            <i class="glyphicon glyphicon-gift"></i>Nauczyciel</p>
                            
                            {% endif %}
                            {% if  (rang=="student") %}
                            <i class="glyphicon glyphicon-gift"></i>Grupa: {{group}}</p>
                            {% endif %}
                            
                        <!-- Split button -->
                        <div class="btn-group">
                            <a type="button" href="/settings" class="btn btn-primary">
                                Edytuj</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}
