{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}



<style>
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
    .h-custom-2 {
      height: 100%;
    }
  }
  </style>


<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">Eduon</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

<div class="example-wrapper">

<h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Rejestracja</h3>

    {{ form_start(form) }}
    <div class="form-outline mb-4">
    {{ form_widget(form.ranga, {'attr': {'class': 'form-select'}}) }}
    </div>
    <div class="form-outline mb-4">
    {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg'}}) }}
    <label class="form-label" for="form2Example18">Adres Email</label>
    </div>
    <div class="form-outline mb-4">
    {{ form_widget(form.password.pass, {'attr': {'class': 'form-control form-control-lg'}}) }}
    <label class="form-label" for="form2Example18">Hasło</label>
    </div>
    
    <div class="form-outline mb-4">
    {{ form_widget(form.password.confirm, {'attr': {'class': 'form-control form-control-lg'}}) }}
    <label class="form-label" for="form2Example18">Powtórz hasło</label>
    </div>

    <div class="form-outline mb-4">
    {{ form_widget(form.Imie, {'attr': {'class': 'form-control form-control-lg'}}) }}
    <label class="form-label" for="form2Example18">Imię</label>
    </div>

    <div class="form-outline mb-4">
    {{ form_widget(form.Nazwisko, {'attr': {'class': 'form-control form-control-lg'}}) }}
    <label class="form-label" for="form2Example18">Nazwisko</label>
    </div>

    <div class="form-outline mb-4">
    {{ form_widget(form.Adres, {'attr': {'class': 'form-control form-control-lg'}}) }}
    <label class="form-label" for="form2Example18">Adres</label>
    </div>

    <div class="form-outline mb-4">
    {{ form_widget(form.Numertelefonu, {'attr': {'class': 'form-control form-control-lg'}}) }}
    <label class="form-label" for="form2Example18">Numer telefonu</label>
    </div>

    <div class="form-outline mb-4">
    {{ form_widget(form.grupa, {'attr': {'class': 'form-select'}}) }}
    </div>
{{ form_end(form) }}
</br>
<p>Masz już konto? <a href="/" class="link-info">Zaloguj się</a></p>
</div>
 </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
</br>
</br>
</br>
{% endblock %}

